<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.7.0" targetFramework="net462" />
  <package id="Autofac.Extras.DynamicProxy" version="4.4.0" targetFramework="net462" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net462" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net462" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net462" />
</packages>